$utilities: map-merge(
	$utilities,
	(
		height:
			map-merge(
				map-get($utilities, 'height'),
				(
					values:
						map-merge(
							map-get(map-get($utilities, 'height'), 'values'),
							(
								main-content: calc(100vh - (map-get($spacers, 5) * 2))
							)
						)
				)
			),
		max-width:
			map-merge(
				map-get($utilities, 'max-width'),
				(
					values:
						map-merge(
							map-get(map-get($utilities, 'max-width'), 'values'),
							(
								main-content: map-get($grid-breakpoints, 'md')
							)
						)
				)
			)
	)
);
