.code {
  font-family: $font-family-monospace;
  @include font-size($code-font-size);
  color: var(--#{$prefix}code-color);
  word-wrap: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

blockquote {
  @extend .alert;
  @extend .alert-secondary;
}
