@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('../lib/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  src: url('../lib/assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  src: url('../lib/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  src: url('../lib/assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  src: url('../lib/assets/fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  src: url('../lib/assets/fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Italic.ttf');
}
